# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Large ML models
distilbert_spelling/
*.safetensors
*.bin

# OS
.DS_Store
Thumbs.db

# React Native
mobile_app/node_modules
mobile_app/.expo
mobile_app/.expo-shared
mobile_app/dist